<div aria-hidden="true"
  class="fixed top-0 left-0 right-0 overflow-y-auto overflow-x-hidden z-50 flex justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="relative p-4 w-full max-w-4xl max-h-full">
    <!-- Modal content -->
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-night-800 sm:p-5">
      <!-- Modal header -->
      <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-night-600">
        <h3 class="text-lg font-semibold text-night-900 dark:text-white">
          Ajout d'une image
        </h3>
        <button type="button" (click)="toggleDialog()"
          class="text-night-400 bg-transparent hover:bg-night-200 hover:text-night-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-night-600 dark:hover:text-white">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Fermer</span>
        </button>
      </div>

      <form [formGroup]="getCreateImageForm" (ngSubmit)="onSubmitCreateImage()" novalidate>
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          <div class="mb-2">
            <div>
              <label for="image_create_title"
                class="block mb-2 text-sm font-medium text-night-900 dark:text-white">Titre
              </label>
              <input type="text" formControlName="title" name="image_create_title" id="image_create_title"
                placeholder="Entrer un titre" required [ngClass]="{
                    'border-2 border-red-500 focus:ring-red-600 focus:border-red-600 dark:border-red-600 dark:focus:ring-red-500 dark:focus:border-red-500': getCreateImageForm.controls['title'].errors && (getCreateImageForm.controls['title'].dirty || getCreateImageForm.controls['title'].touched),
                    'border-2 border-green-500 focus:ring-green-600 focus:border-green-600 dark:border-green-600 dark:focus:ring-green-500 dark:focus:border-green-500': getCreateImageForm.controls['title'].valid && (getCreateImageForm.controls['title'].dirty || getCreateImageForm.controls['title'].touched),
                  }"
                class="bg-night-50 text-night-900 text-sm rounded-lg border-2 border-blue-500 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-night-700 dark:border-night-600 dark:placeholder-night-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
              <div *ngIf="
                  getCreateImageForm.controls['title'].valid &&
                  (getCreateImageForm.controls['title'].dirty ||
                    getCreateImageForm.controls['title'].touched)
                ">
                <p class="mt-2 text-xs text-green-600 dark:text-green-500">
                  Le champ titre est valide.
                </p>
              </div>
              <div *ngIf="
                  getCreateImageForm.controls['title'].invalid &&
                  (getCreateImageForm.controls['title'].dirty ||
                    getCreateImageForm.controls['title'].touched)
                ">
                <div>
                  <ng-container *ngIf="getCreateImageForm.controls['title'].errors?.['required'] as titleRequired">
                    <p class="mt-2 text-xs text-red-600 dark:text-red-500">
                      Le champ titre est requis.
                    </p>
                  </ng-container>
                  <ng-container *ngIf="getCreateImageForm.controls['title'].errors?.['minlength'] as titleMinLength">
                    <p class="mt-2 text-xs text-red-600 dark:text-red-500">
                      Le champ titre doit faire au minimum {{ titleMinLength?.requiredLength || 1 }} caractères.
                    </p>
                  </ng-container>
                  <ng-container *ngIf="getCreateImageForm.controls['title'].errors?.['maxlength'] as titleMaxLength">
                    <p class="mt-2 text-xs text-red-600 dark:text-red-500">
                      Le champ titre doit faire au maximum {{ titleMaxLength?.requiredLength || 1 }} caractères.
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-2">
            <div>
              <label for="image_create_visibility"
                class="block mb-2 text-sm font-medium text-night-900 dark:text-white">Visibilité
              </label>
              <select id="image_create_visibility" formControlName="visibility"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-night-700 dark:border-night-600 dark:placeholder-night-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option *ngFor="let visibility of getVisibilities" [value]="visibility">{{ visibility }}</option>
              </select>

              <div *ngIf="
                getCreateImageForm.controls['visibility'].valid &&
                (getCreateImageForm.controls['visibility'].dirty ||
                  getCreateImageForm.controls['visibility'].touched)
              ">
                <p class="mt-2 text-xs text-green-600 dark:text-green-500">
                  Le champ visibility est valide.
                </p>
              </div>
              <div *ngIf="
                getCreateImageForm.controls['visibility'].invalid &&
                (getCreateImageForm.controls['visibility'].dirty ||
                  getCreateImageForm.controls['visibility'].touched)
              ">
                <div>
                  <p [hidden]="getCreateImageForm.controls['visibility'].hasError('required')"
                    class="mt-2 text-xs text-red-600 dark:text-red-500">
                    Le champ visibilité est requis.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-2">
          <div>
            <label for="image_create_description"
              class="block mb-2 text-sm font-medium text-night-900 dark:text-white">Description
            </label>
            <input type="text" formControlName="description" name="image_create_description"
              id="image_create_description" placeholder="Entrer une description" required [ngClass]="{
                    'border-2 border-red-500 focus:ring-red-600 focus:border-red-600 dark:border-red-600 dark:focus:ring-red-500 dark:focus:border-red-500': getCreateImageForm.controls['description'].errors && (getCreateImageForm.controls['description'].dirty || getCreateImageForm.controls['description'].touched),
                    'border-2 border-green-500 focus:ring-green-600 focus:border-green-600 dark:border-green-600 dark:focus:ring-green-500 dark:focus:border-green-500': getCreateImageForm.controls['description'].valid && (getCreateImageForm.controls['description'].dirty || getCreateImageForm.controls['description'].touched),
                  }"
              class="bg-night-50 text-night-900 text-sm rounded-lg border-2 border-blue-500 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-night-700 dark:border-night-600 dark:placeholder-night-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            <div>
              <ng-container *ngIf="
                    getCreateImageForm.controls['description'].valid &&
                    (getCreateImageForm.controls['description'].dirty ||
                      getCreateImageForm.controls['description'].touched)
                  ">
                <p class="mt-2 text-xs text-green-600 dark:text-green-500">
                  Le champ description est valide.
                </p>
              </ng-container>
            </div>
            <div *ngIf="
                  getCreateImageForm.controls['description'].invalid &&
                  (getCreateImageForm.controls['description'].dirty ||
                    getCreateImageForm.controls['description'].touched)
                ">
              <div>
                <ng-container *ngIf="getCreateImageForm.controls['description'].errors?.['required']">
                  <p class="mt-2 text-xs text-red-600 dark:text-red-500">
                    Le champ description est requis.
                  </p>
                </ng-container>
                <ng-container *ngIf="getCreateImageForm.controls['description'].errors?.['minlength']">
                  <p class="mt-2 text-xs text-red-600 dark:text-red-500">
                    Le champ description doit faire au moins
                    {{ getCreateImageForm.controls['description'].errors?.['minlength']?.requiredLength || 1 }}
                    caractères.
                  </p>
                </ng-container>
                <ng-container *ngIf="getCreateImageForm.controls['description'].errors?.['maxlength']">
                  <p class="mt-2 text-xs text-red-600 dark:text-red-500">
                    Le champ description doit faire au maximum
                    {{ getCreateImageForm.controls['description'].errors?.['maxlength']?.requiredLength || 1 }}
                    caractères.
                  </p>
                </ng-container>
              </div>
            </div>
          </div>
        </div>

        <div class="lg:flex mb-2 w-full">
          <div class="lg:w-1/3 mb-2 lg:mb-0">
            <div>
              <label for="file" class="block mb-2 text-sm font-medium text-night-900 dark:text-white">Déposer une
                image</label>
              <input type="file" (change)="onFileSelected($event)" formControlName="file" name="image_create_file"
                accept="image/*" id="{{ getFileInputId }}" placeholder="Entrer un titre" required [ngClass]="{
          'border-2 border-red-500 focus:ring-red-600 focus:border-red-600 dark:border-red-600 dark:focus:ring-red-500 dark:focus:border-red-500': getCreateImageForm.controls['file'].errors && (getCreateImageForm.controls['file'].dirty || getCreateImageForm.controls['file'].touched),
          'border-2 border-green-500 focus:ring-green-600 focus:border-green-600 dark:border-green-600 dark:focus:ring-green-500 dark:focus:border-green-500': getCreateImageForm.controls['file'].valid && (getCreateImageForm.controls['file'].dirty || getCreateImageForm.controls['file'].touched),
        }" class="bg-night-50 text-night-900 text-sm rounded-lg border-2 border-blue-500 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-night-700 dark:border-night-600 dark:placeholder-night-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
              <div *ngIf="
        getCreateImageForm.controls['file'].valid &&
        (getCreateImageForm.controls['file'].dirty ||
          getCreateImageForm.controls['file'].touched)
      ">
                <p class="mt-2 text-xs text-green-600 dark:text-green-500">
                  Le champ file est valide.
                </p>
              </div>
              <div *ngIf="
        getCreateImageForm.controls['file'].invalid &&
        (getCreateImageForm.controls['file'].dirty ||
          getCreateImageForm.controls['file'].touched)
      ">
                <div>
                  <p [hidden]="getCreateImageForm.controls['file'].errors?.['required']"
                    class="mt-2 text-xs text-red-600 dark:text-red-500">
                    Le champ file est requis.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full" [ngClass]="{
            'inline': getFile,
            'hidden': !getFile
          }">
            <div class="mb-2">
              <label class="block mb-2 text-sm font-medium text-night-900 dark:text-white">Visualisation et Édition
              </label>
              <app-canvas-drawing [setFileInputId]="getFileInputId" (getFileChange)="onCanvasFileChange($event)"></app-canvas-drawing>
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="
            !getCreateImageForm.valid || isSubmitCreateImageButtonLoading
          "
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
          <ng-container *ngIf="isSubmitCreateImageButtonLoading">
            <svg aria-hidden="true" role="status" class="inline w-4  mr-1 text-white animate-spin" viewBox="0 0 100 101"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="#E5E7EB" />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentColor" />
            </svg>
            Chargement...
          </ng-container>
          <ng-container *ngIf="!isSubmitCreateImageButtonLoading">
            Ajouter une nouvelle image
          </ng-container>
        </button>
        <span *ngIf="errorMessage" class="text-red-500 animate-pulse">
          {{ errorMessage }}
        </span>

      </form>
    </div>
  </div>
</div>