<div
  id="userDetailsModal"
  aria-hidden="true"
  class="fixed left-0 right-0 top-0 z-50 flex h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="relative max-h-full w-full max-w-xl p-4">
    <!-- Modal content -->
    <div class="relative rounded-lg bg-white p-4 shadow dark:bg-night-800 sm:p-5">
      <!-- Modal header -->
      <div class="mb-4 flex justify-between rounded-t sm:mb-5">
        <div class="text-lg text-night-900 dark:text-white md:text-xl">
          <h3 class="font-semibold">{{ getUser?.getLastname | HTMLEntityDecode }} {{ getUser?.getFirstname | HTMLEntityDecode}}</h3>
        </div>
        <div *ngIf="!getUser" class="text-night-500 dark:text-white">Aucun utilisateur sélectionné.</div>
        <div>
          <button
            type="button"
            (click)="toggleDialog()"
            class="inline-flex rounded-lg bg-transparent p-1.5 text-sm text-black hover:bg-night-200 hover:text-night-900 dark:hover:bg-night-600 dark:hover:text-white">
            <svg
              aria-hidden="true"
              class="h-5 w-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Fermer</span>
          </button>
        </div>
      </div>
      <div class="mb-4 font-light text-night-500 dark:text-white sm:mb-5">
        <strong>Identifiant:</strong> {{ getUser?.getPublicId }}
      </div>
      <div class="mb-4 font-light text-night-500 dark:text-white sm:mb-5">
        <strong>Date de création:</strong>
        {{ getUser?.getCreatedAt | date : 'dd/MM/yyyy HH:mm:ss' }}
      </div>
      <div class="mb-4 font-light text-night-500 dark:text-white sm:mb-5">
        <strong>Date de mise à jour:</strong>
        {{ getUser?.getUpdatedAt | date : 'dd/MM/yyyy HH:mm:ss' }}
      </div>
      <div class="mb-4 font-light text-night-500 dark:text-white sm:mb-5">
        <strong>Nom:</strong> {{ getUser?.getLastname | HTMLEntityDecode }}
      </div>
      <div class="mb-4 font-light text-night-500 dark:text-white sm:mb-5">
        <strong>Prénom:</strong> {{ getUser?.getFirstname | HTMLEntityDecode }}
      </div>
      <div class="mb-4 font-light text-night-500 dark:text-white sm:mb-5">
        <strong>Email:</strong> {{ getUser?.getEmail }}
      </div>
      <div class="mb-4 font-light text-night-500 dark:text-white sm:mb-5">
        <strong>Role:</strong> {{ getUser?.getRole?.getName }}
      </div>
    </div>
  </div>
</div>
