<div aria-hidden="true"
  class="fixed top-0 left-0 right-0 overflow-y-auto overflow-x-hidden z-50 flex justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-night-800 sm:p-5">
      <!-- Modal header -->
      <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-night-600">
        <h3 class="text-lg font-semibold text-night-900 dark:text-white">
          Création d'un utilisateur
        </h3>
        <button type="button" (click)="toggleDialog()"
          class="text-night-400 bg-transparent hover:bg-night-200 hover:text-night-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-night-600 dark:hover:text-white">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Fermer</span>
        </button>
      </div>

      <form [formGroup]="getCreateUserForm" (ngSubmit)="onSubmitCreateUser()" novalidate>
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          <div>
            <label for="user_create_name" class="block mb-2 text-sm font-medium text-night-900 dark:text-white">Nom
            </label>
            <input type="text" formControlName="name" name="user_create_name" id="user_create_name"
              placeholder="Entrer le nom de l'utilisateur" required [ngClass]="{
                  'border-2 border-red-500 focus:ring-red-600 focus:border-red-600 dark:border-red-600 dark:focus:ring-red-500 dark:focus:border-red-500': getCreateUserForm.controls['name'].errors && (getCreateUserForm.controls['name'].dirty || getCreateUserForm.controls['name'].touched),
                  'border-2 border-green-500 focus:ring-green-600 focus:border-green-600 dark:border-green-600 dark:focus:ring-green-500 dark:focus:border-green-500': getCreateUserForm.controls['name'].valid && (getCreateUserForm.controls['name'].dirty || getCreateUserForm.controls['name'].touched),
                }"
              class="bg-night-50 text-night-900 text-sm rounded-lg border-2 border-blue-500 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-night-700 dark:border-night-600 dark:placeholder-night-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            <div *ngIf="
                getCreateUserForm.controls['name'].valid &&
                (getCreateUserForm.controls['name'].dirty ||
                  getCreateUserForm.controls['name'].touched)
              ">
              <p class="mt-2 text-xs text-green-600 dark:text-green-500">
                Le champ nom est valide.
              </p>
            </div>
            <div *ngIf="
                getCreateUserForm.controls['name'].invalid &&
                (getCreateUserForm.controls['name'].dirty ||
                  getCreateUserForm.controls['name'].touched)
              ">
              <div>
                <ng-container *ngIf="getCreateUserForm.controls['name'].errors?.['required'] as nameRequired">
                  <p class="mt-2 text-xs text-red-600 dark:text-red-500">
                    Le champ nom est requis.
                  </p>
                </ng-container>
                <ng-container *ngIf="getCreateUserForm.controls['name'].errors?.['minlength'] as nameMinLength">
                  <p class="mt-2 text-xs text-red-600 dark:text-red-500">
                    Le champ nom doit faire au minimum
                    {{ nameMinLength.requiredLength || 2 }}
                    caractères.
                  </p>
                </ng-container>
                <ng-container *ngIf="getCreateUserForm.controls['name'].errors?.['maxlength'] as nameMaxLength">
                  <p class="mt-2 text-xs text-red-600 dark:text-red-500">
                    Le champ nom doit faire au maximum
                    {{ nameMaxLength.requiredLength || 64 }}
                    caractères.
                  </p>
                </ng-container>
              </div>
            </div>
          </div>
          <div>
            <label for="user_create_firstname"
              class="block mb-2 text-sm font-medium text-night-900 dark:text-white">Prénom
            </label>
            <input type="text" formControlName="firstname" name="user_create_firstname" id="user_create_firstname"
              placeholder="Entrer le prénom de l'utilisateur" required [ngClass]="{
                  'border-2 border-red-500 focus:ring-red-600 focus:border-red-600 dark:border-red-600 dark:focus:ring-red-500 dark:focus:border-red-500': getCreateUserForm.controls['firstname'].errors && (getCreateUserForm.controls['firstname'].dirty || getCreateUserForm.controls['firstname'].touched),
                  'border-2 border-green-500 focus:ring-green-600 focus:border-green-600 dark:border-green-600 dark:focus:ring-green-500 dark:focus:border-green-500': getCreateUserForm.controls['firstname'].valid && (getCreateUserForm.controls['firstname'].dirty || getCreateUserForm.controls['firstname'].touched),
                }"
              class="bg-night-50 text-night-900 text-sm rounded-lg border-2 border-blue-500 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-night-700 dark:border-night-600 dark:placeholder-night-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            <div *ngIf="
                getCreateUserForm.controls['firstname'].valid &&
                (getCreateUserForm.controls['firstname'].dirty ||
                  getCreateUserForm.controls['firstname'].touched)
              ">
              <p class="mt-2 text-xs text-green-600 dark:text-green-500">
                Le champ prénom est valide.
              </p>
            </div>
            <div *ngIf="
                getCreateUserForm.controls['firstname'].invalid &&
                (getCreateUserForm.controls['firstname'].dirty ||
                  getCreateUserForm.controls['firstname'].touched)
              ">
              <div>
                <ng-container *ngIf="getCreateUserForm.controls['firstname'].errors?.['required'] as firstnameRequired">
                  <p class="mt-2 text-xs text-red-600 dark:text-red-500">
                    Le champ prénom est requis.
                  </p>
                </ng-container>
                <ng-container
                  *ngIf="getCreateUserForm.controls['firstname'].errors?.['minlength'] as firstnameMinLength">
                  <p class="mt-2 text-xs text-red-600 dark:text-red-500">
                    Le champ prénom doit faire au minimum {{ firstnameMinLength?.requiredLength || 2 }} caractères.
                  </p>
                </ng-container>
                <ng-container
                  *ngIf="getCreateUserForm.controls['firstname'].errors?.['maxlength'] as firstnameMaxLength">
                  <p class="mt-2 text-xs text-red-600 dark:text-red-500">
                    Le champ prénom doit faire au maximum {{ firstnameMaxLength?.requiredLength || 32 }} caractères.
                  </p>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <label for="user_create_email" class="block mb-2 text-sm font-medium text-night-900 dark:text-white">Adresse
            e-mail
          </label>
          <input type="email" formControlName="email" name="user_create_email" id="user_create_email"
            placeholder="Entrer l'adresse-email" required [ngClass]="{
                'border-2 border-red-500 focus:ring-red-600 focus:border-red-600 dark:border-red-600 dark:focus:ring-red-500 dark:focus:border-red-500': getCreateUserForm.controls['email'].errors && (getCreateUserForm.controls['email'].dirty || getCreateUserForm.controls['email'].touched),
                'border-2 border-green-500 focus:ring-green-600 focus:border-green-600 dark:border-green-600 dark:focus:ring-green-500 dark:focus:border-green-500': getCreateUserForm.controls['email'].valid && (getCreateUserForm.controls['email'].dirty || getCreateUserForm.controls['email'].touched),
              }"
            class="bg-night-50 text-night-900 text-sm rounded-lg border-2 border-blue-500 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-night-700 dark:border-night-600 dark:placeholder-night-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
          <div *ngIf="
              getCreateUserForm.controls['email'].valid &&
              (getCreateUserForm.controls['email'].dirty ||
                getCreateUserForm.controls['email'].touched)
            ">
            <p class="mt-2 text-xs text-green-600 dark:text-green-500">
              Le champ email est valide.
            </p>
          </div>
          <div *ngIf="
              getCreateUserForm.controls['email'].invalid &&
              (getCreateUserForm.controls['email'].dirty ||
                getCreateUserForm.controls['email'].touched)
            ">
            <div>
              <ng-container *ngIf="getCreateUserForm.controls['email'].errors?.['required'] as emailRequired">
                <p class="mt-2 text-xs text-red-600 dark:text-red-500">
                  L'adresse email est requise.
                </p>
              </ng-container>
              <ng-container *ngIf="getCreateUserForm.controls['email'].errors?.['minlength'] as emailMinLength">
                <p class="mt-2 text-xs text-red-600 dark:text-red-500">
                  L'adresse email doit avoir le format prefixe@domaine.com.
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <label for="password" class="block mb-2 text-sm font-medium text-night-900 dark:text-white">Mot de passe
          </label>
          <div class="relative">
            <input [type]="getPasswordTextType ? 'text' : 'password'" type="password" formControlName="password"
              name="user_create_password" id="user_create_password" placeholder="Entrer le prénom de l'utilisateur"
              required [ngClass]="{
                  'border-2 border-red-500 focus:ring-red-600 focus:border-red-600 dark:border-red-600 dark:focus:ring-red-500 dark:focus:border-red-500': getCreateUserForm.controls['password'].errors && (getCreateUserForm.controls['password'].dirty || getCreateUserForm.controls['password'].touched),
                  'border-2 border-green-500 focus:ring-green-600 focus:border-green-600 dark:border-green-600 dark:focus:ring-green-500 dark:focus:border-green-500': getCreateUserForm.controls['password'].valid && (getCreateUserForm.controls['password'].dirty || getCreateUserForm.controls['password'].touched),
                }"
              class="bg-night-50 text-night-900 text-sm rounded-lg border-2 border-blue-500 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-night-700 dark:border-night-600 dark:placeholder-night-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            <span class="absolute right-5 top-2.5 cursor-pointer text-gray-400 dark:text-night-300"
              (click)="togglePasswordTextType()">
              <svg-icon [src]="
                  !getPasswordTextType
                    ? 'assets/icons/heroicons/outline/eye-off.svg'
                    : 'assets/icons/heroicons/outline/eye.svg'
                " [svgClass]="'h-5 w-5'">
              </svg-icon>
            </span>
          </div>
          <div *ngIf="
              getCreateUserForm.controls['password'].valid &&
              (getCreateUserForm.controls['password'].dirty ||
                getCreateUserForm.controls['password'].touched)
            ">
            <p class="mt-2 text-xs text-green-600 dark:text-green-500">
              Le champ mot de passe est valide.
            </p>
          </div>
          <div *ngIf="
              getCreateUserForm.controls['password'].invalid &&
              (getCreateUserForm.controls['password'].dirty ||
                getCreateUserForm.controls['password'].touched)
            ">
            <div>
              <ng-container *ngIf="getCreateUserForm.controls['password'].errors?.['required'] as passwordRequired">
                <p class="mt-2 text-xs text-red-600 dark:text-red-500">
                  Le champ mot de passe est requis.
                </p>
              </ng-container>
              <ng-container *ngIf="getCreateUserForm.controls['password'].errors?.['minlength'] as passwordMinLength">
                <p class="mt-2 text-xs text-red-600 dark:text-red-500">
                  Le champ password doit faire au minimum
                  {{ passwordMinLength.requiredLength || 8 }}
                  caractères.
                </p>
              </ng-container>
              <ng-container *ngIf="getCreateUserForm.controls['password'].errors?.['pattern'] as passwordPattern">
                <p class="mt-2 text-xs text-red-600 dark:text-red-500">
                  Le mot de passe doit contenir au moins un chiffre, une lettre minuscule, une lettre majuscule et un
                  caractère spécial.
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <div>
            <label for="user_create_role" class="block mb-2 text-sm font-medium text-night-900 dark:text-white">Role
            </label>
            <select id="user_create_role" name="user_create_role" formControlName="role"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option *ngFor="let role of roles" [value]="role" [selected]="UserRole === role">{{ role }}</option>
            </select>

            <div *ngIf="
                getCreateUserForm.controls['role'].valid &&
                (getCreateUserForm.controls['role'].dirty ||
                  getCreateUserForm.controls['role'].touched)
              ">
              <p class="mt-2 text-xs text-green-600 dark:text-green-500">
                Le champ role est valide.
              </p>
            </div>
            <div *ngIf="
                getCreateUserForm.controls['name'].invalid &&
                (getCreateUserForm.controls['name'].dirty ||
                  getCreateUserForm.controls['name'].touched)
              ">
              <div>
                <p [hidden]="getCreateUserForm.controls['name'].errors?.['required']"
                  class="mt-2 text-xs text-red-600 dark:text-red-500">
                  Le champ role est requis.
                </p>
              </div>
            </div>
          </div>
        </div>

        <button type="submit" [disabled]="
            !getCreateUserForm.valid || isSubmitCreateUserButtonLoading
          "
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
          <ng-container *ngIf="isSubmitCreateUserButtonLoading">
            <svg aria-hidden="true" role="status" class="inline w-4  mr-1 text-white animate-spin" viewBox="0 0 100 101"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="#E5E7EB" />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentColor" />
            </svg>
            Chargement...
          </ng-container>
          <ng-container *ngIf="!isSubmitCreateUserButtonLoading">
            Ajouter un nouveau utilisateur
          </ng-container>
        </button>
        <span *ngIf="errorMessage" class="text-red-500 animate-pulse">
          {{ errorMessage }}
        </span>
      </form>
    </div>
  </div>
</div>