<nav aria-label="Page navigation example">
  <ul class="inline-flex -space-x-px text-sm">
    <!-- first button -->
    <li
      class="flex h-8 cursor-pointer items-center justify-center rounded border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-200 hover:text-gray-700 dark:border-night-700 dark:bg-night-800 dark:text-night-200 dark:hover:bg-night-600"
      *ngIf="firstLastButtons"
      (click)="selectPageNumber(1)">
      ««
    </li>
    <!-- previous button -->
    <li
      class="flex h-8 cursor-pointer items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-200 hover:text-gray-700 dark:border-night-700 dark:bg-night-800 dark:text-night-200 dark:hover:bg-night-600"
      *ngIf="nextPreviousButtons"
      (click)="previous()">
      «
    </li>
    <ng-container *ngFor="let p of totalPages; index as i">
      <li
        [ngClass]="{ 'opacity-50': currentPage === i + 1 }"
        *ngIf="i + 1 >= currentPage - maxSize && i + 1 <= currentPage + maxSize">
        <button
          [ngClass]="
            currentPage !== p
              ? 'flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-night-700 dark:bg-night-800 dark:text-night-200'
              : 'flex h-8 items-center justify-center border border-gray-300 bg-blue-50 px-3 text-blue-600 hover:bg-blue-100 hover:text-blue-700 dark:border-night-700 dark:bg-night-700 dark:text-white'
          "
          (click)="selectPageNumber(i + 1)">
          {{ i + 1 }}
        </button>
      </li>
    </ng-container>
    <!-- next button -->
    <li
      class="flex h-8 cursor-pointer items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-200 hover:text-gray-700 dark:border-night-700 dark:bg-night-800 dark:text-night-200 dark:hover:bg-night-600"
      *ngIf="nextPreviousButtons"
      (click)="next()">
      »
    </li>
    <!-- last button -->
    <li
      class="flex h-8 cursor-pointer items-center justify-center rounded border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-200 hover:text-gray-700 dark:border-night-700 dark:bg-night-800 dark:text-night-200 dark:hover:bg-night-600"
      *ngIf="firstLastButtons"
      (click)="selectPageNumber(totalPages.length)">
      »»
    </li>
  </ul>
</nav>
